/*  BODY  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    font-size: 20px;

}


p {
    font-size: 20px;
    text-align: justify;
}


.underline {
    margin-bottom: 50px;
    border-bottom: 4px solid;
    border-bottom-color: #000000;
    display: inline-block;
    /*line-height: -2px; */
    padding-bottom: 10px;

}


.menu-title {
    border-bottom: 4px solid;
    border-bottom-color: #000000;


}

#about-content,
#menu-content,
#gallery-content,
#contact-content {
    text-align: center;
    height: 700px;
    padding-top: 100px;
}

.thank-you {
    height: 600px;
    text-align: center;
    color: #2c786c;
    padding-top: 150px;
}


/*   HEADER SECTION   */
.top-header {
    background-color: #2c786c;
    color: #ffffff;
    padding: 10px;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 50px;
    padding-right: 50px;

}


.information-container:after {
    content: "";
    display: block;
    clear: both;
}

.store-hours {
    float: left;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: -18px;

}

.hours {
    font-size: 16px;
}

.clock,
.phone {
    padding-right: 2px;
}

.social-top {
    float: right;
    margin-right: -18px;
    padding-top: 10px;
}


a {
    text-decoration: none;
    color: #2c786c;
}

a:link {
    text-decoration: none;
    color: #2c786c;
}

a:visited {
    text-decoration: none;
    color: #2c786c;
}

a:hover {
    color: white !important;
}

.navbar-brand {
    font-family: 'Fredoka One', cursive;
    color: #2c786c !important;
    font-size: 100px;
    text-transform: uppercase;

}

.callum-nav {
    padding-bottom: 8px;
    padding-top: 8px;
}

.nav-link,
.nav,
.navbar-nav,
.ml-auto,
.w-100,
.justify-content-end {
    font-family: 'Fredoka One', cursive;
    text-decoration: none;

}

.nav-items {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 50px;

}

.nav-link {
    text-decoration: none;
    color: #2c786c;
}


.nav-link:link {
    text-decoration: none;
    color: #2c786c !important;

}

.nav-link:visited {
    text-decoration: none;
    color: #2c786c !important;

}

.nav-link:hover {
    color: #f8b400 !important;


}

.nav-link:active {
    text-decoration: none;
    color: #2c786c !important;

}


#company {
    float: left;
    font-family: 'Fredoka One', cursive;
    color: #2c786c;
    margin-right: 5px;
    letter-spacing: 2px;
    padding-top: 50px;

}


nav {
    padding-top: 20px;

}


#logo {
    width: 75px;
    height: 65px;

}

.transition-one {
    background-image: url("images/chicago.png");
    min-height: 500px;
    background-repeat: no-repeat;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-attachment: fixed;

}

.transition-two {
    background-image: url("images/pizza.png");
    min-height: 500px;
    background-repeat: no-repeat;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-attachment: fixed;

}

.transition-three {
    background-image: url("images/tables.png");
    min-height: 500px;
    background-repeat: no-repeat;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-attachment: fixed;

}

.transition-four {
    background-image: url("images/hello.jpg");
    min-height: 550px;
    background-repeat: no-repeat;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-attachment: fixed;

}

.transition-five {
    background-image: url("images/chicagonew.png");
    min-height: 500px;
    background-repeat: no-repeat;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-attachment: fixed;

}


/*   HERO IMAGE SECTION   */

.hero {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    width: 100%;
    height: auto;

}


.center-hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;
    color: white;
    font-weight: 800;
    text-align: center;
    text-shadow: 3px 3px 6px #004445;
    letter-spacing: 3px;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;

}

#yum {
    font-family: 'Lemon', cursive;
    font-size: 45px;
}

#guaranteed {
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;
    font-size: 40px;



}

/*   ABOUT SECTION   */
.about-image {
    width: 325px;
    height: 500px;
    float: right;
    margin-left: 50px;

}


#about-section {
    background-color: #faf5e4;
    height: 900px;

}


.about-paragraph {
    margin: 50px;
    line-height: 2.0;

}


#owner-name {
    font-size: 35px;
    color: #2c786c;
    font-weight: 800;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
}



/*   GALLERY SECTION   */
#gallery-section {
    background-color: #ffffff;
    height: 800px;
}


/*   MENU SECTION   */
.gallery-items {
    margin: 0 auto;
    display: inline-block;
    padding-top: 50px;
}


.item {
    padding-right: 20px;
}

#menu-section {
    height: 850px;
    background-color: #2c786c;
    opacity: 0.9;
}


/*   CONTACT SECTION   */
#contact-section {
    height: 1200px;
    padding-top: 100px;
    background-image: url("images/chicagoroad.png");
    background-repeat: no-repeat;
    opacity: 0.9;

}

#contact-content {
    margin: 0 auto;
    width: 50%;
    height: 950px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;


}

#contact-form {
    text-align: left;
    font-size: 18px;
    background-color: white;

}

.contact-header {
    padding-top: 50px;

}


hr,
.contact-underline {
    border-top: solid 2px #696969;
    padding-bottom: 20px;
}

label {
    margin-left: 20px;
}


.btn,
.btn-success,
.btn-send {
    background-color: #2c786c !important;
    margin: 0 auto;
}


/*   FOOTER SECTION   */
#footer-section {
    background-color: #004445;
    color: #ffffff;
    height: 500px;
    text-align: center;
}

#footer {
    text-align: center;
    padding-top: 50px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 55px;
    text-align: center;
    text-decoration: none;
    margin: 8px 8px;


}

.fa:hover {
    text-decoration: none;
    background-color: #f8b400;
}


.fa-instagram {
    background: #ffffff;
    text-decoration: none;

}

.fa-twitter {
    background: #ffffff;
    text-decoration: none;

}


.fa-facebook {
    background: #ffffff;
    text-decoration: none;

}

.footer-social {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    display: inline-block;
    padding-top: 20px;

}

#footer-content {
    padding-top: 60px;

}



/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .top-header {
        display: none;

    }
}


@media screen and (max-width: 768px) {

    .center-hero,
    #yum,
    #guaranteed {

        font-size: 17px;

    }
}


@media screen and (max-width: 768px) {
    #menu-section {
        height: 700px;

    }
}


@media screen and (max-width: 600px) {
    #menu-section {
        height: 600px;


    }
}


@media screen and (max-width: 375px) {
    #menu-section {
        height: 500px;


    }
}

@media screen and (min-width: 800px) {
    #contact-content {
        height: 1000px;


    }
}

@media screen and (max-width: 768px) {
    #contact-content {
        height: 1100px;
        width: 75%;


    }
}


@media screen and (max-width: 400px) {
    #contact-content {
        height: 1050px;
        width: 75%;


    }
}


@media screen and (max-width: 768px) {
    .transition-five {
        display: none;


    }
}

@media screen and (max-width: 768px) {
    #about-section {
        height: 1320px;


    }
}


@media screen and (min-width: 800px) {
    #about-section {
        height: 1230px;


    }
}

@media screen and (min-width: 1200px) {
    #about-section {
        height: 890px;

    }
}


@media screen and (min-width: 1600px) {
    #about-section {
        height: 790px;


    }
}

@media screen and (max-width: 768px) {
    .title-text {
        font-weight: bolder;
        font-size: 20px;

    }
}


@media screen and (max-width: 768px) {
    #logo {
        width: 55px;
        height: 45px;

    }
}


@media screen and (max-width: 768px) {
    .about-paragraph {
        font-size: 14px;

    }
}


@media screen and (max-width: 768px) {
    .gallery-items {
        padding-top: 50px;

    }
}

@media screen and (max-width: 768px) {
    .menu-image {
        width: 200px;
        height: 300px;

    }
}

@media screen and (max-width: 600px) {
    .menu-image {
        width: 150px;
        height: 250px;

    }
}

@media screen and (max-width: 500px) {
    .menu-image {
        width: 100px;
        height: 175px;

    }
}


@media screen and (max-width: 400px) {
    .menu-image {
        width: 95px;
        height: 150px;

    }
}


@media screen and (max-width: 400px) {
    .menu-image {
        width: 85px;
        height: 120px;

    }
}


@media screen and (min-width: 800px) {
    .menu-image {
        width: 200px;
        height: 300px;

    }
}


@media screen and (min-width: 1600px) {
    .menu-image {
        width: 400px;
        height: 500px;

    }
}


@media screen and (max-width: 768px) {

    .nav-link,
    .nav-item {
        font-size: 15px;

    }
}

@media screen and (max-width: 600px) {
    #owner-name {
        font-size: 20px;

    }
}


@media screen and (max-width: 600px) {
    .about-paragraph {
        font-size: 12px;

    }
}



@media screen and (max-width: 400px) {
    .about-image {
        width: 275px;
        height: 400px;
        margin-left: 70px;

    }
}


@media screen and (max-width: 400px) {
    #logo {
        display: none;

    }
}


@media screen and (max-width: 400px) {
    .title-text {
        font-weight: bolder;
        font-size: 16px;

    }
}

@media screen and (max-width: 800px) {

    .center-hero,
    #yum,
    #guaranteed {
        font-size: 20px;

    }
}


@media screen and (max-width: 800px) {

    .nav-item,
    .nav-link {
        font-size: 15px;

    }
}




@media screen and (max-width: 600px) {
    .hero-image {
        display: none;
    }
}


@media screen and (min-width: 1200px) {

    .hero,
    .hero-image {
        width: 100%;

    }
}


@media screen and (min-width: 800px) {
    #logo {
        width: 55px;
        height: 45px;

    }
}


@media screen and (min-width: 900px) {

    .center-hero,
    #yum,
    #guaranteed {
        font-size: 17px;

    }
}


@media screen and (min-width: 1600px) {

    .center-hero,
    #yum,
    #guaranteed {
        font-size: 50px;

    }
}